img {
  max-width: 100%;
  border-radius: $border-radius-sm;
}
.img-raised {
  box-shadow: $box-shadow-raised;
}

.img-center {
  margin-top: 5%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.brand-container{
  position: absolute;
  
}

.img-right {
  margin-top: 6%;
  margin-left: 65%
  ;
}
